
 .CompanyList{
  height: auto;
  padding: 20px;
  /* margin-left: 20px; */
  /* margin-left: 950px; */
  float: right;
 padding-bottom: 30px;
 overflow: auto; 
 width: 50%;
/* z-index: 100; */
 }
 .CompanyCard {
   border: 1px solid rgb(224, 224, 224); 
  /* padding: 20px 40px 40px; */
  max-width: 1100px;
  height: 370px;
  display: flex;
  margin-left: 0px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}
.Previous{
  margin-top: 150px;
}

.ScheduleForm{
  display: flex;
  /* margin-right: 300px; */
  float: right;
  /* position: fixed;
  z-index: 100; */
}
.CompanyCard .image img{
  /* margin: 20px 30px 0 0; */
  width: 400px;
  height: 300px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 15px;
  /* object-fit: contain; */
  /* align-self: flex-start; */
  /* margin-top: 20px;*/
  margin-bottom: 5px; 

}
.App{
  padding: 16px;
  margin-top: 30px;
  min-height: 1500px;
}
.mapContainer{
   margin-top: 12px;
   margin-left: 0px;
}
.CompanyCard .TextContent {
  margin-top: 15px;
  flex: 1 1 auto;
}
.Signup,
.Login,
.Schedule,
.UserSchedules,
.UserProfile,
.CompanyShowPage{
  margin-top: 17px;
}
.CompanyShowPage .image img{
  width: 100%;
  /* 400px; */
  height: 300px
  /* margin-right: 20px;
  margin-left: 5px;
  margin-top: 5px; */
}
.AskToLogIn{
  float: right;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

input[type="radio"]{
  display:none;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}
.RiDeleteBinLine{
  cursor: pointer;
  transition: color 200ms;
}
.CompanyInfoBox .image img{
  width: 200px;
  height: 150px;
  /* margin-right: 20px;
  margin-left: 5px;
  margin-top: 5px; */
}
.Schedule{
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;

}
.CommentOnSchedule{
  /* display: flex; */
  size:20%;
  /* float: right; */
  
  margin-left: 50%;
  margin-top: 10px;
}
.Dark{
  color:black
}
.Light{
  color:lightgrey
}
.address{
  font-size: 14px;
}
/* .CompanyCard .TextContent .name{
  color:burlywood
} */
.Sort{
  /* margin-top: 50px;
  float: right;*/
} 
/* .prevPic{
  width: 300px;
  border: grey 1px;
}

.prevPic img{
  max-height: 100%;
  max-width: 100%;
} */